@font-face {
  font-family: 'Syntha-Nova-Black';
  src: url('../../fonts/Syntha-Nova-Black.woff') format('woff');
}
@font-face {
  font-family: 'Syntha-Nova';
  src: url('../../fonts/Syntha-Nova.woff') format('woff');
}
@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('../../fonts/NanumSquareRoundB.woff') format('woff');
}
@font-face {
  font-family: 'NanumSquareRoundEB';
  src: url('../../fonts/NanumSquareRoundEB.woff') format('woff');
}
@font-face {
  font-family: 'NanumBarunpenB';
  src: url('../../fonts/NanumBarunpenB.woff') format('woff');
}
@font-face {
  font-family: 'NanumBarunpenR';
  src: url('../../fonts/NanumBarunpenR.woff') format('woff');
}
@font-face {
  font-family: 'Multicolore';
  src: url('../../fonts/Multicolore-Pro.woff') format('woff');
}
@import "../../node_modules/bootstrap/scss/functions";

$primary: #6bb739;
.form-select-sm{
  padding: 4px 5px 4px;
  margin-right: 6px;
  border-color: #ced4da;
  color: #212529;
  &:last-child {
    margin-right: 0;
  }
}

$form-select-font-family: 'NanumSquareRoundB', sans-serif;
$form-select-font-family-sm: 'NanumSquareRoundB', sans-serif;

$nav-tabs-border-color: #e9ecef;
$nav-tabs-link-active-border-color: #e9ecef;
$nav-tabs-link-active-bg: #e9ecef;


@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/bootstrap";