@font-face {
  font-family: 'Syntha-Nova-Black';
  src: url('../../fonts/Syntha-Nova-Black.woff') format('woff');
}
@font-face {
  font-family: 'Syntha-Nova';
  src: url('../../fonts/Syntha-Nova.woff') format('woff');
}
@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('../../fonts/NanumSquareRoundB.woff') format('woff');
}
@font-face {
  font-family: 'NanumSquareRoundEB';
  src: url('../../fonts/NanumSquareRoundEB.woff') format('woff');
}
@font-face {
  font-family: 'NanumBarunpenB';
  src: url('../../fonts/NanumBarunpenB.woff') format('woff');
}
@font-face {
  font-family: 'NanumBarunpenR';
  src: url('../../fonts/NanumBarunpenR.woff') format('woff');
}
@font-face {
  font-family: 'Multicolore';
  src: url('../../fonts/Multicolore-Pro.woff') format('woff');
}
$primary: #6bb739;


@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/bootstrap";